{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "printWidth": 100, "trailingComma": "all" }
    ],
    "react/require-default-props": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/__tests__/**/*",
          "examples/src/**/*.js",
          "rollup.config.js",
          "webpack-new.config.js"
        ],
        "optionalDependencies": false
      }
    ]
  }
}
