{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-plusplus": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/forbid-prop-types": "off",
    "react/sort-comp": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/__tests__/*-test.js"],
      "optionalDependencies": false
    }]
  }
}
