{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/__tests__/**/*",
          "examples/src/**/*.js",
          "rollup.config.js",
          "webpack.config.js"
        ],
        "optionalDependencies": false
      }
    ],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "no-console": "error"
  }
}
