.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tab:focus {
  outline: none;
}
.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
}
body {
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  color: #007eff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  padding: 0 30px;
}
h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}
.page-body,
.page-footer,
.page-header {
  padding: 30px 0;
}
.page-header {
  background-color: #3c72a9;
  color: #d3e9ff;
  text-align: center;
}
.page-header__title {
  color: white;
  font-size: 3em;
  margin-bottom: 0.33em;
}
.page-header__subtitle {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 300;
  line-height: 1.4;
}
.page-header__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
}
.page-header__link:hover,
.page-header__link:focus {
  border-bottom-color: white;
  outline: none;
  text-decoration: none;
}
.page-header__button {
  display: inline-block;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2) !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  text-decoration: none;
}
.page-header__button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.page-subheader {
  background-color: #e6f2ff;
  line-height: 20px;
  padding: 30px 0;
}
.page-subheader__button {
  float: right;
}
.page-subheader__link {
  border-bottom: 1px solid rgba(0, 126, 255, 0.3);
  outline: none;
  text-decoration: none;
}
.page-subheader__link:hover,
.page-subheader__link:focus {
  border-bottom-color: #007eff;
  outline: none;
  text-decoration: none;
}
.page-footer {
  background-color: #fafafa;
  color: #999;
  padding: 30px 0;
  text-align: center;
}
.page-footer a {
  color: black;
}
.page-footer img.browserstack {
  height: 50px;
  margin-bottom: 15px;
}
.section {
  margin-bottom: 40px;
}
.section .source-checkbox-label {
  border: none;
  cursor: pointer;
  color: #007eff;
  text-decoration: none;
  font-size: 0.7em;
}
.section .react-live-preview {
  padding: 2em;
}
.section .live-preview {
  box-shadow: 0.055rem 0.055rem 1.11rem rgba(20, 20, 20, 0.27);
}
.section .live-preview .live-editor {
  height: 0;
  overflow-y: scroll;
  transition: height 0.2s;
  max-width: 850px;
}
.section .live-preview .live-editor pre {
  overflow: scroll;
}
.section .live-preview .live-editor--visible {
  height: 300px;
}
.hint {
  font-size: 0.95em;
  margin: 15px 0;
  color: #666;
}
.avengers-tab-list {
  margin: 0;
  padding: 0;
}
.avengers-tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 6px 12px 0;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
}
.avengers-tab--selected {
  box-shadow: 2px -1px 2px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: black;
  z-index: 3;
}
.avengers-tab-panel {
  padding: 10px;
  display: none;
  z-index: 2;
  position: relative;
}
.avengers-tab-panel--selected {
  box-shadow: 2px -1px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
@media (max-width: 767px) {
  .page-header__button {
    display: block;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .section .live-preview .live-editor {
    max-width: calc(100vw - 60px);
  }
}
@media (min-width: 768px) {
  .page-header__button {
    padding: 0.75rem 1rem;
  }
  .page-body,
  .page-header {
    padding: 3em 0 1.5em;
  }
  .page-header {
    font-size: 1.4em;
  }
}

