
name: CI

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

env:
  NODE_VERSION: 18

permissions: {}

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    if: "! startsWith(github.ref, 'refs/heads/renovate/') || github.event_name != 'pull_request'"

    steps:
    - name: debug
      run: |
        echo "The GitHub Actor's userid is: $GITHUB_REF"
        echo "The GitHub event name is: $GITHUB_EVENT_NAME"
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile --non-interactive

    - name: Unit tests
      run: yarn test --ci --coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: "! startsWith(github.ref, 'refs/heads/renovate/') || github.event_name != 'pull_request'"

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile --non-interactive

    - name: Lint
      run: yarn lint

  release:
    needs: [tests, lint]
    if: github.ref == 'refs/heads/main'
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --non-interactive

      - name: Release
        run: npx semantic-release --branches main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
